{% extends 'base.html.twig' %}

{% block title %}
Mon espace admin
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>

ESPACE ADMINISTRATEUR 
</h1>

{{ admin_name      }}

<br/><br/>

<br/><br/>

<ul>
<li> <a href="{{ path('newpageform_admin') }}">Veuillez renplir le formulaire administrateur !</a></li> 
</ul>

<br/><br/>


{% include 'menu_admin.html.twig' %}




<br/><br/>

<hr>

<br/>

<div id="table" class="table">
<table border="1">
<thead>

<br/><br/><br/>

<tr>
<th>id</th>
<th>Nom</th>
<th>Prénom</th>
<th>Login</th>
<th>Password</th>
</tr>
</thead>
<br/><br/><br/>

<tr>
{% for admin in admin %}
					{# https://twig.symfony.com/doc/3.x/tags/for.html #}
<tbody>
<br/><br/><br/>

<tr>
<td>{{ admin.id }}</td>
<td>{{ admin.nom }}</td>
<td>{{ admin.prenom }}</td>
<td>{{ admin.login }}</td>
<td>{{ admin.password }}</td>
<td></td>
</tr>
{% endfor %}
			</tbody>
<br/><br/><br/>

        </table>
        
	</div>

{% endblock %}


