    {% extends 'base.html.twig' %}

{% block title %} 
Menu
{% endblock %}

{% block body %}

<hr>

<h3>
<ul>
<li> <a href="{{ path('articles_index') }}"> 
Liste de mes articles ! </a> </li>

<li> <a href="{{ path('categorie_index') }}"> 
Liste de mes catégories ! </a> </li>

<li> <a href="{{ path('livres_index') }}"> 
Liste de mes livres ! </a> </li>

<li> <a href="{{ path('locations_index') }}"> 
Liste de mes locations ! </a> </li>
<li> <a href="{{ path('admin_index') }}"> 
éspace réservé aux administrateurs ! </a> </li>



</ul>
</h3>


{% endblock %}
