{% extends 'base.html.twig' %}

{% block body %}

    
{{ form_start(formLocation) }}

Titre : {{ form_widget(formLocation.titre) }}<br>
  Date: {{ form_widget(formLocation.date) }} <br>
Image: {{ form_widget(formLocation.image) }} <br>
Adresse: {{ form_widget(formLocation.adresse) }} <br>
Statuts: {{ form_widget(formLocation.statuts) }} <br>



<button type="submit" class="btn btn-success">envoyer</button>






      
    {{ form_end(formLocation) }}
  
  {% endblock %}

